/* background for all the page */
body{
	font-family: 'Arima Madurai', cursive;
	font-size: 30px;
	font-weight: bolder;
	text-align:center;
/*background-image: url("../images/Endangered-Forests-of-the-World.jpg");*/
} 


header{
	font-size: 48px;
  	text-shadow: 4px 4px 4px #aaa;
  	text-align: center;
}

footer{
	font-size: 15px;
	text-align: center;

	position: fixed;
	bottom:0px;

	height:auto;
	width: 100%;
	border-top: 3px solid #4aaaa5;
	padding-top: 15px;
	padding-bottom: 15px;


}

.end_hidden_box{
	width: 100%;
	height:100%;
	background-color: red;
	display: none;
}

.end_show_box{
	width: 120%;
	height:100%;
	//background-color: gray;
	text-align: center;
}

img.side_image{
	border: 2px solid black;
	height: auto;
	width: 100%;
	box-shadow: 5px 5px gray;
}